# Skopiuj jako .env i uzupełnij wartości
# NIE commituj .env do git!

POSTGRES_DB=blazorapp
POSTGRES_USER=blazorapp_user
POSTGRES_PASSWORD=TwojeBardzoBezpieczneHaslo123!

PGADMIN_EMAIL=admin@firma.pl
PGADMIN_PASSWORD=AdminHaslo123!
